*{
    margin: 0;
    padding:0;
}

body {
    background-color: #548687;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}
.Box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    font-size: 8vmin;
    color: black;
}
#Reset-Game{
    padding: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    border: none;
}
    
#New-Button{
    padding: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    border: none;
}
#msg{
  color:#ffffc7;
  font-size: 2rem;
  padding-bottom: 2rem;

}
.msg-container{
    height: 100vmin;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.1rem;
}
.hide{
    display: none;
}


